body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  margin: 0;
  line-height: 20px;
  font-size: 14px;
}

p {
  margin: 10px 0 0 0;
}

a {
  color: rgb(1,50,153);
  font-weight: 600;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: auto;
  font-weight: 600;
  margin: 0;
}

h3 a:visited {
  color: black;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

ul {
  margin: 0;
}

.a-button {
  color: rgb(1,50,153);
  font-weight: 600;
  cursor: pointer;
  padding: 0 1px 0 1px;
}

#app {
  background-color: rgb(102, 153, 204);
  width: 1310px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

#header {
  height: 250px;
  background-color: rgb(1,50,153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-info {
  color: white;
  align-self: flex-end;
  padding: 0px 30px 0 0;
  height: 5px;
}

#header-info span {
  color: white;
  align-self: flex-end;
  font-weight: 400;
}

#header-pic-img {
  height: 180px;
  object-fit: cover;
}

#nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 153, 204);

}

#nav a {
  color: white;
  font-weight: 400;
}

#nav-div {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid white;
  background-color: lightgray;
}

#footer-nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#footer-nav a {
  font-weight: 400;
}

#footer-copyright {
  display: flex;
  align-items: flex-end;
  height: 50px;
  font-size: 10px;
}

/* Landing Page */

#landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
}

#landing-main {
  background-color: lightgray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-main-logo {
  padding-bottom: 10px;
}

#landing-main-logo-img {
  width: 50px;
  padding-bottom: 20px;
}

#landing-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: pre;
  padding-top: 15px;
}

/* Profile */

#profile, #content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 50px 50px 50px;
}

.profile-firstName, .profile-lastName {
  padding: 30px 0 20px 0;
  color: black;
  cursor: default;
  word-break: break-all;
}

#profile-layout, #content-layout {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "left right";
}

#profile-left, #content-left {
  grid-area: left;
  width: 400px;
  padding-right: 25px;
  justify-self: left;
}

#profile-right, #content-right {
  grid-area: right;
  width: auto;
  min-width: 450px;
  width: 760px;
  padding-left: 25px;
  justify-self: left;
}

/* Profile Left Side */

#description {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto 200px 75px;
  grid-template-areas:
    "name name"
    "pic desc"
    "mood login";
}

#description-pic {
  grid-area: pic;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#description-pic-img {
  width: 100%;
  object-fit: cover;
}

#description-mood-view {
  grid-area: mood;
  white-space: pre;
  padding: 18px 20px 0 0;
  height: 20px;
  display: grid;
  grid-template-rows: 22px auto;
  grid-template-areas:
    "mood"
    "view";
}

#description-mood {
  display: flex;
  flex-direction: row;
  grid-area: mood;
}

#description-mood-name {
  height: 25px;
}

#description-mood-current {
  height: 25px;
  grid-area: current;
  justify-self: flex-start;
}

#description-mood-current-emoji {
  height: 25px;
  grid-area: emoji;
  justify-self: flex-start;
}

#description-view-pics {
  height: 20px;
  grid-area: view;
  display: flex;
  flex-direction: row;
  white-space: pre;
}

#description-view-pics a {
  font-weight: 600;
}

#description-desc {
  white-space: pre;
  padding: 0 20px 0 20px;
  grid-area: desc;
  display: flex;
  flex-direction: column;
}

#description-desc-status {
  height: 40px;
  display: flex;
  flex-direction: row;
  white-space: pre;
}

#description-desc-status-text {
  white-space: pre-wrap;
  word-break: break-all;
}

#description-desc-status-text-quote {
  margin-left: -4px;
}

#description-desc-gender, #description-desc-age, #description-desc-city, #description-desc-state, #description-desc-country, #description-desc-login-date {
  height: 20px;
}

#description-desc-login {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact-layout {
  line-height: 15px;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "left right";
  white-space: pre;
  box-sizing: border-box;
}

#contact-name, #interests-name, #details-name, #content-list-name {
  height: 30px;
  background-color: rgb(102, 153, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  color: white;
  box-sizing: border-box;
  word-break: break-all;
  white-space: pre-wrap;
  margin-top: -2px;
}

#contact-name-text {
  white-space: pre;
}

#details-name-text, #interests-name-text, #content-list-name-text {
  white-space: pre;
  margin-left: -4px;
}

#contact-left {
  grid-area: left;
  padding: 20px 0 20px 10px;
  justify-self: center;
}

#contact-right {
  grid-area: right;
  padding: 20px 10px 20px 0;
}

.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 0 7px 0;
  height: 20px;
}

.contact-icon {
  font-size: 20px;
  padding: 0 10px 0 20px;
}

#url {
  border: 1px solid rgb(102, 153, 204);
  padding: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#url-name, #url-address {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-all;
}

#url-address {
  padding: 0 15px 0 15px;
}

#url-address-text {
  white-space: pre-wrap;
  word-break: break-all;
}

#url-name {
  font-weight: 600;
}

#interests, #details, #contact, #content-list {
  border: 2px solid rgb(102, 153, 204);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 15px;
}

#contact, #content-list {
  margin-bottom: 30px;
}


#interests-name, #details-name {
  padding-left: 10px;
}

#interests-main, #details-main {
  padding: 4px 0 0 4px;
}

#interests-general, #interests-music, #interests-movies, #interests-television, #interests-books, #interests-heroes, #details-status, #details-here, #details-hometown, #details-zodiac, #details-smoke, #details-occupation {
  display: flex;
  flex-direction: row;
  padding: 0 4px 4px 0;
}

.interests-left, .details-left {
  grid-area: left;
  width: 150px;
  margin-right: 4px;
  background-color: rgb(177,208,240);
}

.interests-right, .details-right {
  grid-area: right;
  width: 250px;
  background-color: rgb(214,231,251);
}

.interests-section, .details-section {
  color: rgb(52,102,153);
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

.interests-text, .details-text {
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

/* Profile Right Side */

#headline {
  border: 2px solid black;
  padding: 35px;
  line-height: 30px;
  height: 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#headline-name {
  word-break: break-all;
  white-space: pre-wrap;
}

#headline-text {
  word-break: break-all;
  white-space: pre-wrap;
}

#headline-text-content {
  white-space: pre;
}

#profile-content {
  padding: 25px 0 25px 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "center";
}

#profile-content-title, #profile-content-title-name, #profile-content-subscribe, #profile-content-head {
  height: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

#profile-content-title-name {
  white-space: pre-wrap;
  word-break: break-all;
}

#profile-content-title-text {
  white-space: nowrap;
  margin-left: -4px;
}

#profile-content-subscribe {
  padding-left: 5px;
}

#profile-content-text {
  grid-area: center;
  width: 100%;
}

.profile-content-post {
  height: 20px;
  padding-bottom: 20px;
  display: flex;
  width: auto;
}

.profile-content-post-title {
  width: auto;
  word-break: break-all;
  white-space: pre-wrap;
}

.profile-content-post-more {
  white-space: nowrap;
}

#profile-content-view-all {
  display: flex;
  flex-direction: row;
}

#subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  grid-area: center;
  z-index: 1;
  padding-top: 30px;
}

#subscribe-name {
  height: 30px;
  background-color: rgb(102, 153, 204);
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-rows: auto;
  padding-left: 10px;
  color: white;
  box-sizing: border-box;
  align-items: center;
}

#subscribe-box {
  background-color: rgb(214,231,251);
  border: 2px solid rgb(102, 153, 204);
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

#subscribe-close {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#subscribe-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(52,102,153);
  line-height: 20px;
  margin: auto;
  padding: 20px;
}

#subscribe-text form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

#subscribe-text-name {
  word-break: break-all;
  white-space: pre-wrap;
  display: flex;
  flex-direction: row;
}

#subscribe-text-name-text {
  white-space: pre;
}

#subscribe-email {
  width: 200px;
  height: 20px;
  grid-area: email;
  border: 1px solid rgb(102, 153, 204);
  margin-top: 10px;
  padding-left: 10px;
}

#subscribe-submit {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  grid-area: submit;
  color: white;
  font-weight: 600;
  border: 1px solid black;
  background-color: white;
  border: 1px solid rgb(102, 153, 204);
  background-color: rgb(102, 153, 204);
}

#blurbs, #friends {
  padding-bottom: 20px;
}

#blurbs-name, #friends-name, #comments-name {
  background-color: rgb(254,205,153);
  padding: 0 10px 0 10px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255,105,15);
  box-sizing: border-box;
  word-break: break-all;
  white-space: pre-wrap;
}

#blurbs-name-text, #friends-name-text, #comments-name-text {
  white-space: nowrap;
  margin-left: -4px;
}

#blurbs-about {
  white-space:pre-wrap;
}

#blurbs-about-me, #blurbs-about-meet {
  display: flex;
  align-items: flex-end;
  height: 30px;
  color: rgb(255,105,15);
  font-weight: 600;
}

#friends-count {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  font-weight: 600;
}

#friends-count-name {
  box-sizing: border-box;
  word-break: break-all;
  white-space: pre-wrap;
}

#friends-count-text {
  white-space: pre;
}

#friends-count-text-end {
  white-space: pre;
}

#friends-count-current {
  color: rgb(204,2,0);
  font-weight: 100;
  white-space: nowrap;
}

#friends-top {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
}

.friends-top-icon {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  padding-bottom: 30px;
  flex: 1;
  /* flex-basis: 25%; */
}

.friends-top-icon-name {
  font-weight: 600;
  width: 140px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 10px;
  word-break: break-all;
}

.friends-top-icon-img {
  width: 140px;
  height: 160px;
  object-fit: cover;
}

#friends-view-all {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20px;
  color: rgb(204,2,0);
  font-weight: 600;
  text-decoration: none;
}

#friends-view-all-name {
  word-break: break-all;
  white-space: pre-wrap;
}

#friends-view-all-text {
  white-space: pre;
}

#friends-view-all-text-end {
  white-space: pre;
  margin-left: -4px;
}

#comments-count {
  height: 35px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  white-space: pre;
  font-weight: 600;
}

#comments-count-current, #comments-count-total {
  color: rgb(204,2,0);
  font-weight: 100;
}

.comments-post {
  display: grid;
  grid-template-areas:
    "left right";
  border-bottom: 2px solid white;
  grid-template-columns: 225px auto;
}

.comments-post-left {
  grid-area: left;
  background-color: rgb(255,153,51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid white;
  padding: 10px;
}

.comments-post-left-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.comments-post-left-name, .comments-post-right-date {
  line-height: 35px;
  font-weight: 600;
}

.comments-post-left-name {
  word-break: break-all;
  white-space: pre-wrap;
}

.comments-post-left-pic {
  width: 140px;
  height: 160px;
  object-fit: cover;
  padding-bottom: 20px;
}

.comments-post-right {
  grid-area: right;
  background-color: rgb(248,214,180);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 10px 20px;
}

/* Content */

#content-list-title {
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 153, 204);
  height: 30px;
  align-items: center;
  color: white;
}

#content-post-area {
  justify-self: left;
}

.content-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  color: rgb(1,50,153);
  font-weight: 600;
  text-decoration: none;
  padding: 0 20px 0 20px;
  line-height: 18px;
}

.content-post:hover {
  background-color: rgb(214,231,251);
  cursor: pointer;
}

.content-post.selected {
  background-color: rgb(214,231,251);
}

.content-post-title {
  word-break: break-all;
  white-space: pre-wrap;
}

#content-current-post {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#content-current-post-title {
  padding: 20px 0 20px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
}

#content-current-post-text {
  line-height: 22px;
}

#content-current-post-share {
  font-size: 10px;
  padding-top: 45px;
  display: flex;
  flex-direction: row;
  white-space: pre;
  align-self: flex-end;
}

#content-updates {
  padding-top: 40px;
}

#editor-container {
  height: 200px;
  width: 500px;
}
