body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
}

a {
  color: rgb(1,50,153);
  font-weight: 600;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: auto;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

#app {
  background-color: rgb(102, 153, 204);
  width: 1120px;
  height: auto;
  margin: auto;
}

#header {
  height: 250px;
  background-color: rgb(1,50,153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-pic-img {
  height: 80%;
  object-fit: cover;
}

#nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 153, 204);
  font-size: 12px;
}

#nav a {
  color: white;
}

#nav-div {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

#main-left {
  width: 400px;
  padding: 30px 20px 30px 30px;
}

#main-right {
  width: 600px;
  padding: 30px 30px 30px 20px;
}

/* Main Left Side */

#profile {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto 200px 75px;
  grid-template-areas:
    "name name"
    "pic desc"
    "mood login";
  }

#profile-name {
  grid-area: name;
  align-self: end;
  padding: 0 0 15px 0;
}

#profile-pic {
  grid-area: pic;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic-img {
  width: 100%;
  object-fit: cover;
}

#profile-mood {
  white-space: pre;
  padding: 10px 20px 20px 0;
  height: 20px;
  display: grid;
  grid-template-columns: 55px 55px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name current emoji"
    "view view view";
}

#profile-mood-name {
  height: 25px;
  grid-area: name;
}

#profile-mood-current {
  height: 25px;
  grid-area: current;
}

#profile-mood-current-emoji {
  height: 25px;
  grid-area: emoji;
}

#profile-mood-view-pics {
  height: 20px;
  grid-area: view;
}

#profile-mood-view-pics a {
  font-weight: 600;
}

#profile-desc {
  white-space: pre;
  padding: 0 20px 0 20px;
  grid-area: desc;
}

#profile-desc-status {
  height: 40px;
}

#profile-desc-gender, #profile-desc-age, #profile-desc-city, #profile-desc-state, #profile-desc-country, #profile-desc-login-date {
  height: 20px;
}

#profile-desc-login {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#contact {
  width: 100%;
  line-height: 30px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 25px auto;
  grid-template-areas:
    "name name"
    "left right";
  white-space: pre;
  border: 2px solid rgb(102, 153, 204);
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

#contact-name, #interests-name, #details-name {
  grid-area: name;
  height: 30px;
  background-color: rgb(102, 153, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  color: white;
  box-sizing: border-box;
}

#contact-left {
  grid-area: left;
  padding: 10px;
}

#contact-right {
  grid-area: right;
  padding: 10px;
}

#url {
  border: 1px solid rgb(102, 153, 204);
  padding: 0 5px 0 5px;
  line-height: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#url-name, #url-address {
  display: flex;
  align-items: center;
  height: 20px;
}

#url-name {
  font-weight: 600;
}

#url-address {
  padding-left: 10px;
}

#interests, #details {
  border: 2px solid rgb(102, 153, 204);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 15px;
}

#interests-name, #details-name {
  padding-left: 10px;
}

#interests-main, #details-main {
  padding: 4px 0 0 4px;
}

#interests-general, #interests-music, #interests-movies, #interests-television, #interests-books, #interests-heroes, #details-status, #details-here, #details-hometown, #details-zodiac, #details-smoke, #details-occupation {
  display: flex;
  flex-direction: row;
  padding: 0 4px 4px 0;
}

.interests-left, .details-left {
  grid-area: left;
  width: 150px;
  margin-right: 4px;
  background-color: rgb(177,208,240);
}

.interests-right, .details-right {
  grid-area: right;
  width: 250px;
  background-color: rgb(214,231,251);
}

.interests-section, .details-section {
  color: rgb(52,102,153);
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

.interests-content, .details-content {
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

/* Main Right Side */

#headline {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 35px 0;
}

#blog {
  white-space: pre;
  padding: 20px 0 20px 0;
  font-size: 14px;
}

#blog-name {
  height: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.blogpost {
  height: 20px;
  padding-bottom: 20px;
}

#blurbs, #friends {
  padding-bottom: 20px;
  font-size: 14px;
}

#blurbs-name, #friends-name, #comments-name {
  background-color: rgb(254,205,153);
  padding-left: 15px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: rgb(255,105,15);
}

#blurbs-about {
  white-space:pre-wrap;
}

#blurbs-about-me, #blurbs-about-meet {
  display: flex;
  align-items: flex-end;
  height: 30px;
  color: rgb(255,105,15);
  font-weight: 600;
}

#friends-count {
  height: 35px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

#friends-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.friends-top-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
  height: auto;
  padding-bottom: 20px;
  flex: 1;
  flex-basis: 25%;
}

.friends-top-icon-name {
  font-weight: 600;
  width: 120px;
  line-height: 15px;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.friends-top-icon-img {
  width: 120px;
  height: 140px;
  object-fit: cover;
}

#friends-view-all {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20px;
}

#comments-count {
  font-size: 14px;
  height: 35px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.comments-post {
  display: grid;
  grid-template-areas:
    "left right";
  padding-bottom: 2px;
  font-size: 14px;
}

.comments-post-left {
  grid-area: left;
  background-color: rgb(255,153,51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.comments-post-left-name, .comments-post-right-date {
  line-height: 35px;
  font-weight: 600;
  font-size: 14px;
}

.comments-post-left-pic {
  width: 120px;
  height: 140px;
  object-fit: cover;
  padding-bottom: 20px;
}

.comments-post-right {
  grid-area: right;
  background-color: rgb(248,214,180);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 10px 20px;
}

#footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid white;
  background-color: lightgray;
}

#footer-nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-size: 12px;
}

#footer-copyright {
  display: flex;
  align-items: flex-end;
  height: 50px;
  font-size: 10px;
}