body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  margin: 0;
  line-height: 20px;
  font-size: 14px;
}

a {
  color: rgb(1,50,153);
  font-weight: 600;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: auto;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

.text-button {
  color: rgb(1,50,153);
  font-weight: 600;
  cursor: pointer;
}

#app {
  background-color: rgb(102, 153, 204);
  width: 1120px;
  height: auto;
  margin: auto;
}

#header {
  height: 250px;
  background-color: rgb(1,50,153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-info {
  color: white;
  align-self: flex-end;
  padding: 0px 30px 0 0;
  height: 5px;
}

#header-info span {
  color: white;
  align-self: flex-end;
  font-weight: 400;
}

#header-pic-img {
  height: 180px;
  object-fit: cover;
}

#nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 153, 204);

}

#nav a {
  color: white;
  font-weight: 400;
}

#nav-div {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid white;
  background-color: lightgray;
}

#footer-nav {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#footer-nav a {
  font-weight: 400;
}

#footer-copyright {
  display: flex;
  align-items: flex-end;
  height: 50px;
  font-size: 10px;
}

/* Main */

#main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

#main-left {
  width: 400px;
  padding: 30px 20px 30px 30px;
}

#main-right {
  width: 600px;
  padding: 30px 30px 30px 20px;
}

/* Main Left Side */

#profile {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto 200px 75px;
  grid-template-areas:
    "name name"
    "pic desc"
    "mood login";
}

#profile-name {
  grid-area: name;
  align-self: end;
  padding: 0 0 15px 0;
}

#profile-pic {
  grid-area: pic;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic-img {
  width: 100%;
  object-fit: cover;
}

#profile-mood {
  white-space: pre;
  padding: 18px 20px 0 0;
  height: 20px;
  display: grid;
  grid-template-columns: 55px 55px auto;
  grid-template-rows: 22px auto;
  grid-template-areas:
    "name current emoji"
    "view view view";
}

#profile-mood-name {
  height: 25px;
  grid-area: name;
}

#profile-mood-current {
  height: 25px;
  grid-area: current;
}

#profile-mood-current-emoji {
  height: 25px;
  grid-area: emoji;
}

#profile-mood-view-pics {
  height: 20px;
  grid-area: view;
}

#profile-mood-view-pics a {
  font-weight: 600;
}

#profile-desc {
  white-space: pre;
  padding: 0 20px 0 20px;
  grid-area: desc;
}

#profile-desc-status {
  height: 40px;
}

#profile-desc-gender, #profile-desc-age, #profile-desc-city, #profile-desc-state, #profile-desc-country, #profile-desc-login-date {
  height: 20px;
}

#profile-desc-login {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact {
  width: 100%;
  line-height: 15px;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: 25px auto;
  grid-template-areas:
    "name name"
    "left right";
  white-space: pre;
  border: 2px solid rgb(102, 153, 204);
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2px;
}

#contact-name, #interests-name, #details-name {
  grid-area: name;
  height: 30px;
  background-color: rgb(102, 153, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  color: white;
  box-sizing: border-box;
}

#contact-left {
  grid-area: left;
  padding: 20px 0 10px 10px;
  justify-self: center;
}

#contact-right {
  grid-area: right;
  padding: 10px;
  padding: 20px 10px 10px 0;
  justify-self: center;
}

.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  height: 22px;
}

.contact-icon {
  font-size: 20px;
  padding-right: 10px;
}

#url {
  border: 1px solid rgb(102, 153, 204);
  padding: 0 5px 0 5px;
  line-height: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#url-name, #url-address {
  display: flex;
  align-items: center;
  height: 20px;
}

#url-name {
  font-weight: 600;
}

#url-address {
  padding-left: 10px;
}

#interests, #details {
  border: 2px solid rgb(102, 153, 204);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 15px;
}

#interests-name, #details-name {
  padding-left: 10px;
}

#interests-main, #details-main {
  padding: 4px 0 0 4px;
}

#interests-general, #interests-music, #interests-movies, #interests-television, #interests-books, #interests-heroes, #details-status, #details-here, #details-hometown, #details-zodiac, #details-smoke, #details-occupation {
  display: flex;
  flex-direction: row;
  padding: 0 4px 4px 0;
}

.interests-left, .details-left {
  grid-area: left;
  width: 150px;
  margin-right: 4px;
  background-color: rgb(177,208,240);
}

.interests-right, .details-right {
  grid-area: right;
  width: 250px;
  background-color: rgb(214,231,251);
}

.interests-section, .details-section {
  color: rgb(52,102,153);
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

.interests-content, .details-content {
  min-height: 30px;
  padding: 4px;
  width: 100% - 4px;
  height: 100% - 4px;
}

/* Main Right Side */

#headline {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 35px 0;
}

#main-blog {
  white-space: pre;
  padding: 25px 0 25px 0;
  display: grid;
  grid-template-columns: 1fr;
}

#main-blog div {
  grid-row-start: 1;
  grid-column-start: 1;
}

#main-blog-content {
  flex-flow: wrap;
}

#main-blog-name {
  height: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

#main-blog-name h5 {
  display: flex;
  flex-direction: row;
}

.main-blogpost {
  height: 20px;
  padding-bottom: 20px;
}

#main-blog-view-all {
  display: flex;
  flex-direction: row;
}

#subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  z-index: 1;
}

#subscribe-name {
  height: 30px;
  background-color: rgb(102, 153, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  color: white;
  box-sizing: border-box;
}

#subscribe-box {
  background-color: rgb(214,231,251);
  border: 2px solid rgb(102, 153, 204);
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-rows: 20px 20px;
}

#subscribe-close {
  font-size: 16px;
  padding: 3px 10px 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  color: white;
  cursor: pointer;
}

#subscribe-content {
  grid-area: title;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(52,102,153);
  line-height: 20px;
}

#subscribe-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

#subscribe-email {
  width: 200px;
  height: 20px;
  grid-area: email;
  border: 1px solid rgb(102, 153, 204);
  margin-top: 10px;
  padding-left: 10px;
}

#subscribe-submit {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  grid-area: submit;
  color: white;
  font-weight: 600;
  border: 1px solid black;
  background-color: white;
  border: 1px solid rgb(102, 153, 204);
  background-color: rgb(102, 153, 204);
}

#blurbs, #friends {
  padding-bottom: 20px;
}

#blurbs-name, #friends-name, #comments-name {
  background-color: rgb(254,205,153);
  padding-left: 15px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255,105,15);
}

#blurbs-about {
  white-space:pre-wrap;
}

#blurbs-about-me, #blurbs-about-meet {
  display: flex;
  align-items: flex-end;
  height: 30px;
  color: rgb(255,105,15);
  font-weight: 600;
}

#friends-count {
  height: 35px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  font-weight: 600;
  white-space: pre;
}

#friends-count-current {
  color: rgb(204,2,0);
  font-weight: 100;
}

#friends-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.friends-top-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
  height: auto;
  padding-bottom: 20px;
  flex: 1;
  flex-basis: 25%;
}

.friends-top-icon-name {
  font-weight: 600;
  width: 120px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.friends-top-icon-img {
  width: 120px;
  height: 140px;
  object-fit: cover;
}

#friends-view-all {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20px;
  color: rgb(204,2,0);
  font-weight: 600;
  text-decoration: none;
}

#comments-count {
  height: 35px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  white-space: pre;
  font-weight: 600;
}

#comments-count-current, #comments-count-total {
  color: rgb(204,2,0);
  font-weight: 100;
}

.comments-post {
  display: grid;
  grid-template-areas:
    "left right";
  border-bottom: 2px solid white;
  grid-template-columns: 225px auto;
}

.comments-post-left {
  grid-area: left;
  background-color: rgb(255,153,51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid white;
}

.comments-post-left-name, .comments-post-right-date {
  line-height: 35px;
  font-weight: 600;
}

.comments-post-left-pic {
  width: 120px;
  height: 140px;
  object-fit: cover;
  padding-bottom: 20px;
}

.comments-post-right {
  grid-area: right;
  background-color: rgb(248,214,180);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 10px 20px;
}

/* Blog */

#blog-header {
  background-color: lightgreen;
}

#blog {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

#blog-left {
  width: 400px;
  padding: 30px 20px 30px 30px;
}

#blog-right {
  width: 600px;
  padding: 30px 30px 30px 20px;
}
